{% extends 'master.html' %}
{% block body %}
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="{% url 'front:index' %}">Home</a> <span class="mx-2 mb-0">/</span> <a
                        href="{% url 'front:product_all' %}">Store</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{ product.name.title }}</strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mr-auto">
                    <div class="border text-center">
                        <img src="{{ product.image.url }}" alt="Image" class="img-fluid p-5">
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-black">{{ product.name.title }}</h2>
                    <p><strong class="text-primary h4">$ {{ product.price }}</strong></p>
                    <form action="{% url 'front:cart_a_product' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="mb-5">
                            <div class="input-group mb-3" style="max-width: 220px;">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                </div>
                                <input name="quantity" type="text" class="form-control text-center" value="1" placeholder=""
                                       aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                </div>
                            </div>
                        </div>
                        {#                    <p><a href="cart.html" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a>#}
                        {#                    </p>#}
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>


                </div>
            </div>
        </div>
    </div>

    {#    <div class="site-section bg-secondary bg-image" style="background-image: url('images/bg_2.jpg');">#}
    {#      <div class="container">#}
    {#        <div class="row align-items-stretch">#}
    {#          <div class="col-lg-6 mb-5 mb-lg-0">#}
    {#            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">#}
    {#              <div class="banner-1-inner align-self-center">#}
    {#                <h2>Pharma Products</h2>#}
    {#                <p>IBUPROFEN 400MG TABLET belongs to the group of NSAIDs used to relieve pain and inflammation. IBUPROFEN 400MG TABLET relieve period pain, headache, neuralgia (nerve-related pain), migraine, back pain, dental pain, swelling and stiffness in joints and muscles, cold, flu, and fever symptoms#}
    {#                </p>#}
    {#              </div>#}
    {#            </a>#}
    {#          </div>#}
    {#          <div class="col-lg-6 mb-5 mb-lg-0">#}
    {#            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_2.jpg');">#}
    {#              <div class="banner-1-inner ml-auto  align-self-center">#}
    {#                <h2>Rated by Experts</h2>#}
    {#                <p>IBUPROFEN 400MG TABLET belongs to the group of NSAIDs used to relieve pain and inflammation. IBUPROFEN 400MG TABLET relieve period pain, headache, neuralgia (nerve-related pain), migraine, back pain, dental pain, swelling and stiffness in joints and muscles, cold, flu, and fever symptoms#}
    {#                </p>#}
    {#              </div>#}
    {#            </a>#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}
    {#    </div>#}
    <script type="module">
        import {createApp} from 'https://unpkg.com/petite-vue?module'

        createApp({
            // exposed to all expressions
            count: 0,
            // getters
            get plusOne() {
                return this.count + 1
            },
            // methods
            increment() {
                this.count++
            }
        }).mount()
    </script>
{% endblock %}